.box1{
    width: 100px;
    height: 100px;
    background-color:brown;
transform:
 perspective(500px)
 rotateX(45deg) 
rotateY(45deg) ;
   
}
.box1:hover {
    transform:
    perspective(500px)
    rotateX(100deg);
    backface-visibility: hidden;
}
